@using FreightSystem.Models;
@model List<BusinessAreaModel>
@{
    ViewBag.Title = "地区列表";
}
<br />
@using (Html.BeginForm())
{
    <fieldset class="large-3">
        <legend>@ViewBag.Title</legend>
        <div class="row">
            <br />
            <div class="large-10 columns large-offset-1">
                <div style="width: 100%; overflow: auto;">
                    <ul>
                        @foreach (BusinessAreaModel area in Model)
                        {
                            <li>@area.AreaName</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="large-10 columns large-offset-1">
                <label>
                    地区名称</label>
                <input type="text" name="newarea" style="width: 80%" />
            </div>
            <div class="large-11 columns">
                <input type="submit" class="button tiny" value="创建" />
            </div>
        </div>
        @ViewBag.ErrorMessage
    </fieldset>
}
