@model FreightSystem.Models.MonthlyReportModel
@{
    ViewBag.Title = "导出月份报表";
}

<h2>@ViewBag.Title</h2>

<script language="javascript" type="text/javascript" src="/Scripts/My97DatePicker/WdatePicker.js"></script>
@using (Html.BeginForm("ExcelMonthlyReport", "Business",FormMethod.Post, new { @class = "form-search" }))
{
    <div style="width:400px;">
        日期 @Html.TextBoxFor(x => x.YearMonth, new { @class = "input-medium search-query Wdate", @onClick = "WdatePicker({dateFmt:'yyyy-MM'})" })
        <button type="submit" class="btn pull-right" id="btnExport">导出月报表</button>
        <br />
        @Html.ValidationMessageFor(x => x.YearMonth)
    </div>
}