@model FreightSystem.Models.TransportRecordModel
@{
    ViewBag.Title = "UpdateReceived";
}
<br />
<div class="row">
    <div class="large-6 columns">
        @Html.Partial("_TransportRecordPartial", Model)
    </div>
    <div class="large-6 columns">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>修改到货信息</legend>
                <br />
                <div class="row">
                    <div class="large-offset-0-1 columns">
                        <label>
                            到货</label>
                        @Html.CheckBoxFor(x => x.Received)
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 large-offset-0-1 columns">
                        <label>
                            到货日期</label>
                        <script language="javascript" type="text/javascript" src="/Scripts/My97DatePicker/WdatePicker.js"></script>
                        @Html.TextBoxFor(x => x.ReceivedDate, new { @onClick = "WdatePicker()", @style = "margin-bottom:0px", @type = "text" })
                    </div>
                </div>
                <div class="row">
                    <div class="large-offset-0-1  columns">
                        <button type="submit" class="left button tiny" style="margin-top: 1rem">
                            保存</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
