@model FreightSystem.Models.TransportRecordModel
<br />
<div class="row">
    <div class="large-6 columns">
        @Html.Partial("_TransportRecordPartial", Model)
    </div>
    <div class="large-6 columns">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>异常</legend>
                <br />
                <div class="row">
                    <div class="large-5 large-offset-0-1 columns">
                        <label>
                            是否异常</label>
                        @Html.CheckBoxFor(x => x.Error)
                    </div>
                </div>
                <div class="row">
                    <div class="large-11 large-offset-0-1 columns">
                        <label>
                            异常描述</label>
                        @Html.TextAreaFor(x => x.ErrorMessage)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="large-3 large-offset-0-1 columns">
                        <button type="submit" class="left button tiny">
                            保存</button>
                    </div>
                </div>
                <br />
                <label style="color: Red;">@ViewBag.ErrorMessage</label>
            </fieldset>
        }
    </div>
</div>
