<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO_Access.Properties.Settings.FreightSystemDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=FreightSystemDB;User ID=sa; Password=percana"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>