<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FreightSystemDBConnectionString" connectionString="Data Source=.;Initial Catalog=FreightSystemDB;User ID=sa; Password=Asd123"
            providerName="System.Data.SqlClient" />
        <add name="DAO_Access.Properties.Settings.FreightSystemDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=FreightSystemDB;User ID=sa; password=Asd123"
            providerName="System.Data.SqlClient" />
        <add name="DAO_Access.Properties.Settings.FreightSystemDBConnectionString1"
            connectionString="Data Source=.;Initial Catalog=FreightSystemDB;Persist Security Info=True;User ID=sa;Password=Asd123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>