<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0}; Jet OLEDB:Database Password={1}"/>
    <add key="DBPath" value="D:\Projects\FreightSystem\trunk\src\FreightSystem.UnitTest\Database\SysDB.mdb"/>
    <add key="DBPassword" value="Asd123"/>
  </appSettings>
</configuration>