@if (ViewBag.LoggedUser != null)
{
    <text> 你好，@ViewBag.LoggedUser.Name @Html.ActionLink("修改密码", "ChangePassword", "Security")
    | @Html.ActionLink("注销", "Logout", "Security")
    </text>
}
else
{
    @*<div class="btn-group">
        <button class="btn">
            @Html.ActionLink("登录", "Login", "Security")</button>
    </div>*@
}
