@if (ViewBag.LoggedUser != null)
{
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("单据页", "Index", "Business")</li>
                            <li>@Html.ActionLink("角色管理", "RoleList", "Security")</li>
                            <li>@Html.ActionLink("用户管理", "UserList", "Security")</li>
                        </ul>
                    </nav>
}