@if (ViewBag.LoggedUser != null)
{
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("单据页", "Index", "Business")</li>
                        </ul>
                    </nav>
}