@using FreightSystem.Models
@if (ViewBag.LoggedUser != null)
{
    UserModel loggedUser = ViewBag.LoggedUser;
    <nav>
        <ul id="menu">
            @foreach (MenuItemModel menu in loggedUser.Role.Menus)
            {
            <li><a href="@menu.Link" name="@menu.MenuCode">@menu.MenuText</a></li>
            }
        </ul>
    </nav>
}