@model FreightSystem.Models.TransportRecordListModel
@using FreightSystem.Models;
@using FreightSystem.Models.Extra;
@{
    UserModel loggedUser = (UserModel)ViewBag.LoggedUser;
}
<table class="large-12 table-hover table-cell-spacing">
    <thead>
        <tr>
            <th>
                日期
            </th>
            <th>
                客户
            </th>
            <th>
                托编号
            </th>
            <th>
                驾驶员
            </th>
            <th>
                车号
            </th>
            <th>
                货物名称
            </th>
            <th>
                体积
            </th>
            <th>
                数量
            </th>
            <th>
                起运地
            </th>
            <th>
                卸货地
            </th>
            <th>
                业务区域
            </th>
            <th>
                专线
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (TransportRecordModel record in Model.ItemList)
        {
            @Html.Partial("_TransportListItemPartial", record, new ViewDataDictionary { new KeyValuePair<string, object>("LoggedUser", loggedUser) })
        }
    </tbody>
    <tfoot>
        <tr class="pagination">
            <td colspan="13">
                @if (Model.PageIndex > 1)
                {
                    <a href="?DeliverDate=@(Model.DeliverDate.ToDateString("yyyy-MM-dd"))&ClientName=@(Model.ClientName)">
                        首页</a>
                    <a href="?page=@(Model.PageIndex - 1)&DeliverDate=@(Model.DeliverDate.ToDateString("yyyy-MM-dd"))&ClientName=@(Model.ClientName)">
                        上一页</a>
                }
                else
                {
                    <span>首页</span>
                    <span>上一页</span>
                }
                当前第 [ @Model.PageIndex ] 页，共 [ @Model.TotalPage ] 页
                @if (Model.PageIndex < Model.TotalPage)
                {
                    <a href="?page=@(Model.PageIndex + 1)&DeliverDate=@(Model.DeliverDate.ToDateString("yyyy-MM-dd"))&ClientName=@(Model.ClientName)">
                        下一页</a>
                    <a href="?page=@Model.TotalPage&DeliverDate=@(Model.DeliverDate.ToDateString("yyyy-MM-dd"))&ClientName=@(Model.ClientName)">
                        尾页</a>
                }
                else
                {
                    <span>下一页</span>
                    <span>尾页</span>
                }
            </td>
        </tr>
    </tfoot>
</table>
@*<script language="javascript" type="text/javascript">
    $("tr[type='RecordTR'] div[class='actionLink']").each(
        function (index) {
            $(this).click(
                function () {
                    var trid = $(this).parent().parent().attr("TRID");
                    var detailtr = $("tr[type='TRDetails'][TRID='" + trid + "']");
                    detailtr.slideToggle(0, false, null);
                }
            );
        }
    );
</script>*@ 