@model FreightSystem.Models.LoginModel
@{
    ViewBag.Title = "登录系统";
}
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{   
    <br />
    <br />
    <h4>
        欢迎登陆 <small>》 物流单据管理系统</small>
    </h4>
    <div class="control-group">
        @Html.TextBoxFor(m => m.Username, new { @type = "text", @placeholder = "请输入用户名" })
    </div>
    <div class="control-group">
        @Html.PasswordFor(m => m.Password, new { @type = "password", @placeholder = "请输入密码" })
    </div>
    <h2>@ViewBag.ErrorMessage</h2>
    <div class="control-group">
        <button type="submit" value="" class="btn btn-primary btn-large btn-block">
            登录</button>
    </div>
}
