@model FreightSystem.Models.LoginModel
@{
    ViewBag.Title = "登录系统";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>


<section id="loginForm">
<h2>@ViewBag.ErrorMessage</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    <fieldset>
        <ol>
            <li>
                <div>用户名</div>
                @Html.TextBoxFor(m => m.Username)
            </li>
            <li>
                <div>密码</div>
                @Html.PasswordFor(m => m.Password)
            </li>
        </ol>
        <input type="submit" value="登录" />
    </fieldset>
}
</section>